* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
}
.basic {
  display: flex;
  justify-content: space-between;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(247, 247, 247);
}
.block {
  width: 95%;
  margin: 0 auto;
}
.logo {
  width: 20%;
}
.suralar {
  width: 35%;
  margin: 20px auto;
  overflow: scroll;
  height: 80vh;
  background-color: rgb(247, 247, 247);
  box-shadow: 0 5px 10px rgba(5, 110, 3, 0.26);
}
.search {
  width: 20%;
  background-color: #fff;
  border-radius: 25px;
  padding: 10px;
  border: 2px solid rgb(21, 161, 3);
  display: flex;
  justify-content: space-between;
}
.seach--input {
  border: none;
  outline: none;
  width: 80%;
}
.surah {
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.834);
}

.surah-name {
  padding: 20px;
  width: 95%;
  /* height: 10vh; */
  /* display: flex;
  justify-content: space-between; */
  border-bottom: 2px solid rgb(21, 161, 3);
}
.oyat {
  font-size: 24px;
}
.audio {
  text-align: end;
}
.oyatlar {
  max-width: 65%;
  height: 80vh;
  background-color: rgb(247, 247, 247);
  margin: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(5, 110, 3, 0.26);
  overflow: scroll;
}
.number {
  padding: 1px;
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  margin: 2px;
}
.oyat-taxt {
  padding: 10px;
  background-color: #fff;
  width: 85%;
  margin: 25px auto;
  box-shadow: 0 5px 10px rgba(5, 110, 3, 0.26);
}

.suralar::-webkit-scrollbar,
.oyatlar::-webkit-scrollbar {
  width: 10px;
}
.suralar::-webkit-scrollbar-track,
.oyatlar::-webkit-scrollbar-track {
  background-color: rgb(21, 161, 3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.suralar::-webkit-scrollbar-thumb,
.oyatlar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.header__oyallar {
  background-color: rgb(247, 247, 247);
  position: sticky;
  top: 0;
  left: 0;
  width: 98%;
  padding: 10px;
  text-align: center;
  color: rgb(21, 161, 3);
  z-index: 100;
  display: none;
}
.close,
.paly {
  display: none;
}
@media (max-width: 600px) {
  .header__oyallar {
    display: block;
  }
  .search {
    display: none;
  }
  .suralar::-webkit-scrollbar,
  .oyatlar::-webkit-scrollbar {
    width: 0;
    background-color: rgb(247, 247, 247);
  }
  body {
    width: 98%;
    overflow: hidden;
    background-color: rgb(247, 247, 247);
  }
  .logo {
    display: none;
  }

  .oyatlar {
    margin: 0;
    width: 100%;
    display: none;
    border-radius: 0px;
    box-shadow: none;
  }

  .suralar {
    width: 100%;
    height: 100vh;
    box-shadow: none;
    margin: 0;
    border-radius: 0px;
  }
  .surah-name {
    width: 100%;
    padding: 0px;
  }
  .popup {
    display: block;
    max-width: 600px;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .close {
    position: fixed;
    z-index: 1;
    top: 5%;
    left: 3%;
    color: red;

    font-size: 12px;

    color: green;
  }
  .play {
    position: absolute;
    top: 32%;
    right: 3%;
  }
} ;
